html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div#axis {
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}